.game-card:hover,
.game-card:focus,
.game-card:focus-within {
	.game-card__header {
		transform: translatey($content-height * -1);
		transition-duration: $speed-in;
		transition-delay: 100ms;
	}

	.game-card__cover > img,
	.game-card__image-placeholder {
		transition-duration: $speed-in;
		transform: translateY($content-height / 2);
		transition-delay: 100ms;
	}

	.game-card__title {
		transition-duration: $speed-in;
		padding-inline: $content-gutter;
		transition-delay: 100ms;
	}

	.game-card__cover-badge {
		transition-duration: ($speed-in / 2), ($speed-in / 2);
		transition-delay: 100ms, 100ms;
		opacity: 0;
		transform: translateY(100%);
	}

	.game-card__touch-target {
		display: none;
	}

	.game-card__back {
		margin-bottom: 0;
		transition-duration: $speed-in;
		transition-delay: 100ms;
	}

	.game-card__content {
		opacity: 1;
		transform: scale(1);
		transition-duration: $speed-in;
		transition-delay: $speed-in / 6;
	}
}
